/*EL SUPER CODIGO CSS DE ARNAU FERNANDEZ*/

/*-----------------SLIDESHOW CSS-----------------*/
            
.mySlides {
    display: none
}
.mySlides > img {
    width: 100%;
    vertical-align: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    justify-content: center;

    /* Arnau */
    align-items: center;
    vertical-align: center;
    /* Arnau */

}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}