/* exemple 1 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid black;
}

/* .wrapper * {
    margin: 20px;
} */

.page-header {
    flex: 1;
    /* flex-grow: 2; */
    background-color: olive;
    border: 1px solid blue;
}

.page-footer {
    flex: 1;
    /* flex-grow: 1; */
    background-color: orange;
    border: 1px solid green;
}

.page-main {
    flex: 1;
    /* flex-grow: 3; */
    background-color: hotpink;
    border: 1px solid red;
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
}

.page-main figure {
    /* flex-grow: 1; */
    border: 1px solid gray;
    /* width: calc(33.3% - 100px); */
    float: left;
    position: relative;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 90px;
}

.a1 {
    background-color: #E7DAD3;
}

.a2 {
    background-color: #E9F3DB;
}

.a3 {
    background-color: #D7D9DB;
}

/* #container {
    width: 48px;
    height: 48px;
} */

/* exemple 2 */
#container img {
    width: 100%;
    transition: transform .4s;
}

figure:hover img {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    overflow: hidden;
}

figure:hover img {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

/* figure.card:hover.has-button .move {
    transform: translateY(0%);
    transition: transform 0.3s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
} */

figure:hover .move {
    transform: translateY(0%);
    transition: transform 0.3s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
}

.move {
    z-index: 10000;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 60px;
    transition: transform 0.3s cubic-bezier(0.28, 0, 0.18, 1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.28, 0, 0.18, 1);
    transition-delay: 0s;
    transform: translateY(100%);
    text-align: center;
}

.button{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff !important;
    background: black;
    opacity: 1;
    font-size: 0.8rem;
    position: relative;
    padding: 15px !important;
    border: none;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    border-radius: 0;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 0;
    transition: black 0.25s cubic-bezier(0.28, 0, 0.18, 1),color 0.25s cubic-bezier(0.28, 0, 0.18, 1);
    transition-property: black, color;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: cubic-bezier(0.28, 0, 0.18, 1), cubic-bezier(0.28, 0, 0.18, 1);
    transition-delay: 0s, 0s;
}


/* exemple 3 */
#mobileMenuWrapper{
    margin-top:-100px; 
    transition: margin-top 0.5s ease;
}
#mobileMenuWrapper.show{
    margin-top:0px;
}
.germa1 {
    height: 100px;
    width: 100%
}
.germa2 {
    position: relative;
    height: 50px;
    width: 100%;
    left: 50px;
}
.child1 {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}
.child2 {
    height: 50px;
    width: 125px;
    background-color: black;
    color: white;
    text-align: center;
}