.content-main {
    display: flex;
    margin: 50px 350px;
}

label {
    font-size: 18px;
}

.titol {
    font-weight: bold;
}

table {
    color:  rgba(58, 57, 57, 0.857);
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.3);;
    text-align: center;
}

th, td {
    border-width: 2px;
    background-color: var(--main-color);
    border-collapse: collapse;
    font-size: 18px;
} 


.missatgeAlerta {
    display:inline;
    color: red;
}

#seguent {
    border: none;
    font-family : inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.boton{
    background-color: var(--main-color);
    color: var(--main-bg-box-color);
    margin-left: 90px;
    flex: 3;
    height: 48px;
    border-radius: 4px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: var(--w2-font);
}

#enrere {
    background-color: transparent;
    color: var(--main-color);
    align-items: center;
}

#seguent {
    background-color: var(--main-color);
    color: var(--main-bg-box-color);
    margin-left: var(--margin-vert);
    flex: 3;
    height: 48px;
    border-radius: 4px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: var(--w2-font);
}