/* =Reset
-------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3{
    margin: 0;
    padding: 0;
}


/* =Structure Desktop Page
-------------------------------------------------------------- */

:root {
    /* 01_FonsPagina */
    --main-bg-color: #F8F8FA;
    /* 02_MarcatSuau */
    --main-bg-box-color: #FFFFFF;
    /* 03_Text */
    --main-txt-color: #000F14;
    /* 04_ColorBase */
    --main-color: #009FD6;
    /* 05_ColorGraphics */
    --main-graphic-color: #BDBDBD;
}

html{
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: Arial, Helvetica, sans-serif;
}

.row-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* =Structure Header
-------------------------------------------------------------- */

.header-row{
    background-color: var(--main-bg-box-color);
    height: 128px;
    display: flex;
    padding: 16px 16px;
}

.logo-col{
    flex: 1;
}

.logo-col img{
    height: 100%;
}

.title-col{
    flex: 2;
    text-align: center;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info-col{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.info-col a{
    text-decoration: none;
    margin-left: 8px;
}


/* =Structure Content
-------------------------------------------------------------- */

.main-row{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.content{
    background-color: var(--main-bg-box-color);
    min-width: 900px;
    max-width: 1080px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

/* .container{

}

.box{

}

.column{
    
}

.row{

} */

/* =Structure Footer
-------------------------------------------------------------- */

.footer-row{
    border-top: 1px solid var(--main-graphic-color);
    height: 64px;
    display: flex;
    padding: 16px 32px;
}

.footer-col-left{
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--main-graphic-color);
}

.footer-col-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-text a{
    text-decoration: none;
    color: var(--main-graphic-color);
    margin-left: 16px;
}