.empaquetador{
    max-width: 100%;
    width: 83px;
    margin: auto;
    overflow: hidden;
}

.missatge{
    background: 1BA3C1;
    padding: 20 px;
    color: black;
    margin: 20px 0;
    border-radius: 5px;
}