.eqWrap {
	display: flex;
}

.eq {
	padding: 10px;
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 23%;
	margin: 1%;
}

.box-carta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--main-graphic-color);
}

.box-carta p {
    text-align: center;
}

.add-remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box-carta:hover .btn-carta {
    color: #7EAD5E;
    background-color: #E9F0E7;
    border-color: #7EAD5E;
}

.btn-carta {
    border-top: 1px solid var(--main-graphic-color);
    border-bottom: 1px solid var(--main-graphic-color);
    border-top: 1px solid var(--main-graphic-color);
    border-left: 1px solid var(--main-graphic-color);
}

.add-remove-btn :first-child {
    padding: 8px 6px;
    /* color: var(--main-graphic-color); */
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.add-remove-btn :nth-child(2) {
    padding: 8px 10px;
}

.add-remove-btn :last-child {
    padding: 8px 6px;
    /* color: var(--main-graphic-color); */
    cursor: pointer;
    border-right: 1px solid #7EAD5E;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.add-remove-btn:hover > .btn-carta {
    color: var(--main-color);
    background-color: var(--main-color-brighter);
    border-color: var(--main-color);
}